<div class="sidebar">
    <img src="Spotify_green.png" alt="Spotify Logo" title="Spotify Logo">
</div>

<div class="sidebar-items">
    <div class="icon">
        <img src="home.png" title="Home" class="home">
        <img src="search.png" title="Search" class="search">
    </div>
    <div class="icon-text">
        <p (click)="GoHome()">Home</p>
        <p>Search</p>
    </div>
</div>

<div class="container">
    <!--Animal-->
    <h1>Animal Movie Songs</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Satranga (From _ANIMAL_)</h2>
   
        <audio controls>
            <source src="Satranga (From _ANIMAL_).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Papa Meri Jaan (From- Aniamal)</h2>
        <audio controls>
            <source src="Papa Meri Jaan.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Hua Main (From - Animal)</h2>
        <audio controls>
            <source src="Hua Main.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Saari Duniya Jalaa Denge (From - Animal)</h2>
        <audio controls>
            <source src="Saari Duniya Jalaa Denge.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Arjan Vailly (From - Animal)</h2>
        <audio controls>
            <source src="Arjan Vailly.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Kabir Singh-->
    <h1>Kabir Singh</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Bekhayali</h2>
        <audio controls>
            <source src="Bekhayali.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Mere Sohneya</h2>
        <audio controls>
            <source src="Mere Sohneya.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Kaise Hua</h2>
        <audio controls>
            <source src="Kaise Hua.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Pehla Pyaar</h2>
        <audio controls>
            <source src="Pehla Pyaar.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Tujhe Kitna Chahein Aur (Film Version)</h2>
        <audio controls>
            <source src="Tujhe Kitna Chahein Aur (Film Version).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Aashiqi2-->
    <h1>Aashiqi2 Songs</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Tum Hi Ho</h2>
        <audio controls>
            <source src="Tum Hi Ho.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Sunn Raha Hai</h2>
        <audio controls>
            <source src="Sunn Raha Hai.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Hum Mar Jayenge</h2>
        <audio controls>
            <source src="Hum Mar Jayenge.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Bhula Dena</h2>
        <audio controls>
            <source src="Bhula Dena.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Aasan Nahin Yahan</h2>
        <audio controls>
            <source src="Aasan Nahin Yahan.mp3" type="audio/mpeg">
        </audio>
    </div>

    <!--Lofi-->
    <h1>Lofi Songs</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Iktara - Lofi Flip</h2>
        <audio controls>
            <source src="Iktara - Lofi Flip.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Ranjha - Lofi Flip</h2>
        <audio controls>
            <source src="Ranjha - Lofi Flip.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Shayad X Samjhawan - Lofi Flip</h2>
        <audio controls>
            <source src="Shayad X Samjhawan - Lofi Flip.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>O Re Piya - Lofi Mix</h2>
        <audio controls>
            <source src="O Re Piya - Lofi Mix.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Kal Ho Naa Ho - Lofi Flip</h2>
        <audio controls>
            <source src="Kal Ho Naa Ho - Lofi Flip.mp3" type="audio/mpeg">
        </audio>
    </div>

    <!--Love Song-->
    <h1>Love Songs</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Pal Pal Dil Ke Paas - Title Track - From _Pal Pal Dil Ke Paas_</h2>
        <audio controls>
            <source src="Pal Pal Dil Ke Paas - Title Track - From _Pal Pal Dil Ke Paas_.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Jeene Laga Hoon</h2>
        <audio controls>
            <source src="Jeene Laga Hoon.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Dekhha Tenu (From _Mr. And Mrs. Mahi_)</h2>
        <audio controls>
            <source src="Dekhha Tenu (From _Mr. And Mrs. Mahi_).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Tum Se (From _Teri Baaton Mein Aisa Uljha Jiya_)</h2>
        <audio controls>
            <source src="Tum Se (From _Teri Baaton Mein Aisa Uljha Jiya_).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Apna Bana Le</h2>
        <audio controls>
            <source src="Apna Bana Le.mp3" type="audio/mpeg">
        </audio>
    </div>

</div>