<div class="container">
  <div class="sidebar">
    <img src="Spotify_green.png" alt="Spotify Logo" title="Spotify Logo">
  </div>
  <app-top-nav></app-top-nav>
  <div class="sidebar-items">
    <div class="icon">
      <img src="home.png" title="Home" class="home">
      <img src="search.png" title="Search" class="search">
     
    </div>
    <div class="icon-text">
      <p>Home</p>
      <p>Search</p>
      <p (click)="OnLogOut()">Log Out</p>
    </div>
    <div class="playlist-container">
      <img src="library.png" title="Library" class="library">
      <h4>Your Library</h4>
      <h3>Create Your First Playlist.
      </h3>
      <h2>It's Easy. We Will Help you.</h2>
      <app-button></app-button>
    </div>
  </div>
  <div class="playlist-card">
    Popular Artists
  </div>
  <!--pritam-->
  <div class="artist">
    <div class="pritam">
      <div class="playlist-card-container">
        <img src="pritam" class="img-artist" title="Pritam">
      </div>
      <h5>Pritam</h5>
      <h5>Artist</h5>
      <img src="play-icon.png" class="play-icon" (click)="NavigateSong()">
    </div>
    <!--arijit-->
    <div class="arijit">
      <div class="playlist-card-container">
        <img src="arijit" class="img-artist" title="Arijit">
      </div>
      <h5>Arijit Singh</h5>
      <h5>Artist</h5>
      <img src="play-icon.png" class="play-icon" (click)="NavigateSong()">
    </div>
    <!-- Badshah-->
    <div class="badshah">
      <div class="playlist-card-container">
        <img src="badshah.jpeg" class="img-artist" title="Badshah">
      </div>
      <h5>Badshah</h5>
      <h5>Artist</h5>
      <img src="play-icon.png" class="play-icon" (click)="NavigateSong()">
    </div>
    <!-- AR rahman-->
    <div class="Ar-rahman">
      <div class="playlist-card-container">
        <img src="Ar Rahman.jpeg" class="img-artist" title="Ar Rahman">
      </div>
      <h5>AR Rahman</h5>
      <h5>Artist</h5>
      <img src="play-icon.png" class="play-icon" (click)="NavigateSong()">
    </div>

    <!-- Shreya-->
    <div class="Shreya-Ghoshal">
      <div class="playlist-card-container">
        <img src="shreya.jpg" class="img-artist" title="shreya Ghoshal">
      </div>
      <h5>Shreya</h5>
      <h5>Artist</h5>
      <img src="play-icon.png" class="play-icon" (click)="NavigateSong()">
    </div>



    <div class="playlist-card-text">
      Popular Playlsit
    </div>
    <div class="playlist">
      <div class="Animal">
        <div class="playlist-card-container">
          <img src="animal.jpeg" class="img-artist" title="Animal Playlist">
        </div>
        <h5>Animal songs</h5>
        <img src="play-icon.png" class="play-icon" (click)="NavigatePlaylist()">
      </div>
    </div>
    <!-- Ek tha tiger-->
    <div class="Tiger">
      <div class="playlist-card-container">
        <img src="ek tha tiger.jpg" class="img-artist" title="Ek tha tiger Playlist">
      </div>
      <h5>Ek Tha Tiger songs</h5>
      <img src="play-icon.png" class="play-icon" (click)="NavigatePlaylist()">
    </div>
    <!--Ashiqi2-->
    <div class="Ashiqi2">
      <div class="playlist-card-container">
        <img src="aashiqi 2.jpeg" class="img-artist" title="Aashiqi 2 Playlist">
      </div>
      <h5>Aashiqi 2 songs</h5>
      <img src="play-icon.png" class="play-icon" (click)="NavigatePlaylist()">
    </div>
    <!--aavesham-->
    <div class="Aavesham">
      <div class="playlist-card-container">
        <img src="aavesham.jpg" class="img-artist" title="Aavesham Playlist">
      </div>
      <h5>Aavesham songs</h5>
      <img src="play-icon.png" class="play-icon" (click)="NavigatePlaylist()">
    </div>
    <!--lofi-->
    <div class="lofi">
      <div class="playlist-card-container">
        <img src="lofi.jpg" class="img-artist" title="Lofi Songs Playlist">
      </div>
      <h5>Lofi songs</h5>
      <img src="play-icon.png" class="play-icon" (click)="NavigatePlaylist()">
    </div>


  </div>



</div>