.top-nav{
    width: 1210px;
    background-color: #292929;
    height: 65px;
    margin-left: 297px;
    margin-top: -682px;
    border-radius: 13px;
}
h3{
    font-size: 30px;
    color: #9d9d9d;
    margin-left: 1px;
    margin-top: 2px;
    font-style: normal;
    padding: 15px;
    width: 88px;
}


