<div class="sidebar">
    <img src="Spotify_green.png" alt="Spotify Logo" title="Spotify Logo">
</div>

<div class="sidebar-items">
    <div class="icon">
        <img src="home.png" title="Home" class="home">
        <img src="search.png" title="Search" class="search">
    </div>
    <div class="icon-text">
        <p (click)="GoHome()">Home</p>
        <p>Search</p>
    </div>
</div>

<div class="container">
    <!--Pritam-->
    <h1>Pritam Songs</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>O Mahi (From"Dunki")-2023 Pritam</h2>
        <audio controls>
            <source src="O Maahi (From _Dunki_).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Ve Kamleya (From _Rocky Aur Rani Kii Prem Kahaani_)-Pritam</h2>
        <audio controls>
            <source src="Ve Kamleya (From _Rocky Aur Rani Kii Prem Kahaani_).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Kesariya (From _Brahmastra_)-Pritam</h2>
        <audio controls>
            <source src="Kesariya (From _Brahmastra_) (1).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2> Subhanallah-Pritam</h2>
        <audio controls>
            <source src="Subhanallah.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Jaadui (From _Tu Jhoothi Main Makkaar_)-Pritam</h2>
        <audio controls>
            <source src="Jaadui (From _Tu Jhoothi Main Makkaar_) (1).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Arijit Sing-->
    <h1>Arijit Sing Songs</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Soulmate - Arijit Singh</h2>
        <audio controls>
            <source src="Soulmate.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Sajni Re (from- Laapta Ladies)-Arijit Sing</h2>
        <audio controls>
            <source src="Sajni (From _Laapataa Ladies_).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Satranga (From-Animal) </h2>
        <audio controls>
            <source src="Satranga (From _ANIMAL_).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Dil Jhoom (From-Gadar 2)</h2>
        <audio controls>
            <source src="Dil Jhoom.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Zaalima (From- Raees) </h2>
        <audio controls>
            <source src="Zaalima.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Shreya Ghoshal-->
    <h1>Shreya Ghoshal Songs</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Zindagi Tere Naam (From _Yodha_)</h2>
        <audio controls>
            <source src="Zindagi Tere Naam (From _Yodha_).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Sunn Raha Hai (Female) (From- Aashiqi 2)</h2>
        <audio controls>
            <source src="Sunn Raha Hai (Female).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Rasiya (From _Brahmastra_) </h2>
        <audio controls>
            <source src="Rasiya (From _Brahmastra_).mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Angaaron (From _Pushpa 2 The Rule_) [HINDI]</h2>
        <audio controls>
            <source src="Angaaron (From _Pushpa 2 The Rule_) [HINDI].mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Saibo</h2>
        <audio controls>
            <source src="Saibo.mp3" type="audio/mpeg">
        </audio>
    </div>

    <!--AR Rahman-->
    <h1>AR Rahman Songs</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Luka Chuppi (From- Rand De Basnti)</h2>
        <audio controls>
            <source src="Luka Chuppi.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Tum Tak (From- Rahjana)</h2>
        <audio controls>
            <source src="Tum Tak.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Maa Tujhe Salaam</h2>
        <audio controls>
            <source src="Maa Tujhe Salaam.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Dil Se Re</h2>
        <audio controls>
            <source src="Dil Se Re.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>The Humma Song</h2>
        <audio controls>
            <source src="The Humma Song.mp3" type="audio/mpeg">
        </audio>
    </div>

    <!--KK-->
    <h1>KK Songs</h1>
    <!--Song 1-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Tera Hone Laga Hoon</h2>
        <audio controls>
            <source src="Tera Hone Laga Hoon.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 2-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Tadap Tadap (From- HumDil De Chuke Sanam)</h2>
        <audio controls>
            <source src="Tadap Tadap.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 3-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Yaaron</h2>
        <audio controls>
            <source src="Yaaron.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 4-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Piya Aaye Na (From-Aashiqi2)</h2>
        <audio controls>
            <source src="Piya Aaye Na.mp3" type="audio/mpeg">
        </audio>
    </div>
    <!--Song 5-->
    <div class="song">
        <img src="Music-icon.png" class="Music-icon">
        <h2>Kya Mujhe Pyar Hai (From _Woh Lamhe_)</h2>
        <audio controls>
            <source src="Kya Mujhe Pyar Hai (From _Woh Lamhe_).mp3" type="audio/mpeg">
        </audio>
    </div>

</div>